<tr>
    <td>1</td>
    <td>Fahim Imam</td>
    <td>+88001256</td>
    <td><a href="/update-user" class="btn border-shadow update">
        <span class="text-gradient"><i class="fa-solid fa-user-pen"></i></span>
    </a>
</td>
    <td><a href="/delete-user" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>